.headerBar {
    background-color: rgb(37, 36, 36);
    border-radius: 10px;
    margin: 10px;
}

.HeaderTitle {
    color: white;
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    padding: 10px;

}