.headerBar {
    background-color: rgb(37, 36, 36);
    border-radius: 10px;
    margin: 10px;
}

.HeaderTitle {
    text-align: center;
    color: white;
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    padding: 10px;
}

.columns-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 0px;
    margin-left: 20px;
}

/* Media Query for Smaller Screens */
@media screen and (max-width: 900px) {
    .columns-container {
        grid-template-columns: repeat(4, 1fr);
        /* Set 4 columns for smaller screens */
    }
}

.column {
    position: relative;
    /* text-align: center; */
    /* Remove this line */

}

.vertical-line {
    position: absolute;
    height: 100%;
    width: 2px;
    /* Adjust the width as needed */
    background-color: black;
    /* Adjust the color as needed */
    left: 0;
}

h1 {
    text-align: center;

}

p {
    font-size: small;
    padding-left: 10px;
    margin: 5px;
}

.loadingImage {
    display: block;
    margin: auto;
    height: 500px;
}

@media screen and (max-width: 900px) {
    .loadingImage {
        display: block;
        margin: auto;
        height: 250px;
    }
}