body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px 0 25px;
  background-color: #2870f0;
  overflow: hidden;
  color: white;
  font-family: 'Franklin Gothic light', 'Arial Narrow', Arial, sans-serif;
  font-size: x-large;

}

.navbar a,
.navbar-right {
  float: none;
  display: block;
  text-align: left;
}

.navbar-right {
  float: none;
}

/* }
  */
img {
  height: 50px;
}